.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 600px;
  border: 3px dashed black;
  border-radius: 10px;
  margin: 10px;
}

.id {
  height: 100%;
  width: 100%;
  border-right: 1px solid black;
  font-size: 16px;
  margin: 0;
  background: darkblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.name {
  margin-left: 20px;
  font-size: 20px;
}
.input {
  max-width: 600px;
  border: 2px dashed gray;
  outline: 0;
  font-size: 24px;
}
.name_edit {
  font-size: 24px;
  color: cadetblue;
}
.id_edit {
  font-size: 24px;
  color: cadetblue;
}
.selected {
  background: darkgrey;
}
